  <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Test</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <header class="header">
    <div class="header_logo">
      Hot Sauce Reviews
    </div>
    <div class="header_search">
      Search
    </div>
  </header>

  <div class="wrapper">
    <div class="news">
      <% records.forEach(function(records, index) {%>
        <div class="reviewsCard">
          <h2><%- records.fields.Name %></h2>
          <p class="averageRating"><%- records.fields['Average Rating'] %></p>
          <p class="spicinessRating"><%- records.fields['Spiciness averageRating'] %></p>
          <p class="tastings"><%- records.fields.Tastings %></p>
          <p class="loved"><%- records.fields['Percent Loved'] %></p>
          <p class="heatSources"><%- records.fields['Heat Sources String'] %></p>
          <p class="flavorNotes"><%- records.fields['Flavor Notes String'] %></p>
          <p class="tastingNotes"><%- records.fields['Tasting Notes'] %></p>
        </div>
      <% }) %>
    </div>
</body>

</html>
